<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <app-recipes *ngIf="loadedFeature == 'recipe'"></app-recipes>
    <app-shopping-list *ngIf="loadedFeature == 'shoppingList'"></app-shopping-list>
    <p appBasicHighlight *appUnless="loadedFeature == 'recipe'">Not a good practice to directly access your elements</p>
    <p appBetterHighlight [defaultColor]="'black'" [highlightColor]="'red'">Better because use renderer 2</p>
  </div>
</div>

